<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<div>
    <h1>Костюмы</h1>
    <button><h2>Добавить</h2></button>
    <div>
        <table>
            <tr>
                <th>Article</th>
                <th>Name</th>
                <th>Count</th>
                <th>State</th>
                <th>Location</th>
                <th><button>show</button></th>
            </tr>
        </table>
    </div>
</div>

</body>
</html>