<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все теги</title>
</head>
<body>
    <h2>Все теги</h2>
    <div>
        <table>

            <tr th:each="tag: ${tags}">
                <td th:text="*{tag.name}">Название</td>
                <td><a th:href="${tag.path}">Подробнее</a></td>


            </tr>

        </table>
    </div>

</body>
<footer>
    <a th:href="${createTagPage}">Создать новый</a>
    <a th:href="${allItemsPage}">Главная</a>
</footer>
</html>